{% extends "_base.html" %}

{% block title %} {{favtv}} {% endblock %}

{% block content %}
<h1>Favoratis Details</h1>

<ul>
    <li><b>Name: </b>{{favtv.name}}</li>
    <li><b>Type: </b>{{favtv.sort}}</li>
    <li><b>Description: </b>{{favtv.description}}</li>
    <li><b>Visitor: </b>{{favtv.visitor}}</li>
</ul>
<button onclick="window.location.href='{{favtv.get_absolute_url }}update'">Update</button>
<button onclick="window.location.href='{{favtv.get_absolute_url }}delete'">Delete</button>

{% endblock %}